player-connection-mode=Listen
player-connection-guid=2859215940
player-connection-debug=0
player-connection-project-name=Project for CDV
player-connection-ip=26.191.66.156
player-connection-ip=192.168.1.20
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=af4c0a5c1fb14b98b9db28d7a6a9c6b5
