player-connection-mode=Listen
player-connection-guid=682644840
player-connection-debug=0
player-connection-project-name=Project for CDV
player-connection-ip=26.191.66.156
player-connection-ip=192.168.0.23
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=7fcad2d0071d4a2f850e2d58f20e7544
